<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>BITBo | iHealth</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../../static/images/ihealth-icon-black.png">

        <!-- third party css -->
        <link href="../../static/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
        <!-- third party css end -->

        <!-- App css -->
        <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../../static/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

    </head>

    <body class="loading" data-layout="topnav" data-layout-config='{"layoutBoxed":false,"darkMode":false,"showRightSidebarOnStart": true}'>
       
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

            
                    <!-- Topbar Start -->

                    <div class="topnav" style="background-color: #1e2c50;">
                        <div class="container-fluid" >
                            <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">
        
                                <div class="collapse navbar-collapse" id="topnav-menu-content">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <!-- LOGO -->
                                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="topnav-logo-lg">
                                                    <img src="../../static/images/ihealth-logo-with-text.png" alt="" height="28">
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- end Topbar -->
                    
                
                    <!-- 2nd Topbar Start -->

                    <div class="topnav" style="background-color: #fff; height: 9px;">
                        <div class="container-fluid" >
                        
                        </div>
                    </div>
                    <!-- end Topbar -->

                
                    <!-- START HERO -->
                    <section class="hero-section">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="mt-md-4">
                                        <div>
                                            <span class="badge bg-danger rounded-pill">New</span>
                                            <span class="text-white-50 ms-1 font">A State-of-the-Art Health Management System</span>
                                        </div>
                                        <h2 class="text-white fw-normal mb-4 mt-3 hero-title">
                                            A BITBo iHealth System for Komonweltizens! 
                                        </h2>

                                        <p class="mb-4 font-16 text-white-50">Welcome to BITBo - iHealth, an exclusive online platform dedicated to 
                                            providing top-quality healthcare services to the residents of Commonwealth, Quezon City.  </p>

                                        <a href="https://brgyit-bot.com/login/" target="_blank" class="btn btn-success">Click to Log in<i class="mdi mdi-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-2">
                                    <div class="text-md-end mt-3 mt-md-0">
                                        <img src="../../static/images/vip.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END HERO -->


                    <!-- START FEATURES 2 -->
                    <section class="py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <h1 class="mt-0"><i class="mdi mdi-heart-multiple-outline"></i></h1>
                                        <h3>Services you'll <span class="text-danger">love</span></h3>
                                        <p class="text-muted mt-2 font-16">Here are some of the services that Barangay Commonweatlh offers:
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 py-5 align-items-center">
                                <div class="col-lg-5">
                                    <img src="../../static/images/doctors-pana.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <h3 class="fw-normal">Inbuilt applications and pages</h3>
                                    <p class="text-muted mt-3">Hyper comes with a variety of ready-to-use applications and pages that help to speed up the development</p>

                                    <div class="mt-4">
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Projects & Tasks</p>
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Ecommerce Application Pages</p>
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Profile, pricing, invoice</p>
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-primary"></i> Login, signup, forget password</p>
                                    </div>

                                    <a href="" class="btn btn-primary btn-rounded mt-3">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>

                                </div>
                            </div>

                            <div class="row pb-3 pt-5 align-items-center">
                                <div class="col-lg-6">
                                    <h3 class="fw-normal">Simply beautiful design</h3>
                                    <p class="text-muted mt-3">The simplest and fastest way to build dashboard or admin panel. Hyper is built using the latest tech and tools and provide an easy way to customize anything, including an overall color schemes, layout, etc.</p>

                                    <div class="mt-4">
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Built with latest Bootstrap</p>
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Extensive use of SCSS variables</p>
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Well documented and structured code</p>
                                        <p class="text-muted"><i class="mdi mdi-circle-medium text-success"></i> Detailed Documentation</p>
                                    </div>

                                    <a href="" class="btn btn-success btn-rounded mt-3">Read More <i class="mdi mdi-arrow-right ms-1"></i></a>

                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <img src="../../static/images/doctor.jpg" class="img-fluid" alt="">
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- END FEATURES 2 -->


                    <!-- START SERVICES -->
                    <section class="py-5">
                        <div class="container">
                            <div class="row py-4">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <h1 class="mt-0"><i class="mdi mdi-infinity"></i></h1>
                                        <h3>Let us help you take charge of your <span class="text-primary">health</span> and well-being!</h3>
                                        <p class="text-muted mt-2 font-16">We are committed to making primary healthcare more accessible and convenient for all, 
                                            especially for those who are in need. 
                                            <br>Join us today and let us help you take the first step towards a healthier and happier life!"</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="text-center p-3">
                                        <div class="avatar-sm m-auto">
                                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                                <i class="uil uil-desktop text-primary font-24"></i>
                                            </span>
                                        </div>
                                        <h4 class="mt-3">Responsive Layouts</h4>
                                        <p class="text-muted mt-2 mb-0">Et harum quidem rerum as expedita distinctio nam libero tempore
                                            cum soluta nobis est cumque quo.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="text-center p-3">
                                        <div class="avatar-sm m-auto">
                                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                                <i class="uil uil-vector-square text-primary font-24"></i>
                                            </span>
                                        </div>
                                        <h4 class="mt-3">Based on Bootstrap UI</h4>
                                        <p class="text-muted mt-2 mb-0">Temporibus autem quibusdam et aut officiis necessitatibus saepe
                                            eveniet ut sit et recusandae.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="text-center p-3">
                                        <div class="avatar-sm m-auto">
                                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                                <i class="uil uil-presentation text-primary font-24"></i>
                                            </span>
                                        </div>
                                        <h4 class="mt-3">Creative Design</h4>
                                        <p class="text-muted mt-2 mb-0">Nam libero tempore, cum soluta a est eligendi minus id quod
                                            maxime placeate facere assumenda est.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="text-center p-3">
                                        <div class="avatar-sm m-auto">
                                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                                <i class="uil uil-apps text-primary font-24"></i>
                                            </span>
                                        </div>
                                        <h4 class="mt-3">Multiple Applications</h4>
                                        <p class="text-muted mt-2 mb-0">Et harum quidem rerum as expedita distinctio nam libero tempore
                                            cum soluta nobis est cumque quo.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="text-center p-3">
                                        <div class="avatar-sm m-auto">
                                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                                <i class="uil uil-shopping-cart-alt text-primary font-24"></i>
                                            </span>
                                        </div>
                                        <h4 class="mt-3">Ecommerce Pages</h4>
                                        <p class="text-muted mt-2 mb-0">Temporibus autem quibusdam et aut officiis necessitatibus saepe
                                            eveniet ut sit et recusandae.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="text-center p-3">
                                        <div class="avatar-sm m-auto">
                                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                                <i class="uil uil-grids text-primary font-24"></i>
                                            </span>
                                        </div>
                                        <h4 class="mt-3">Multiple Layouts</h4>
                                        <p class="text-muted mt-2 mb-0">Nam libero tempore, cum soluta a est eligendi minus id quod
                                            maxime placeate facere assumenda est.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- END SERVICES -->

                </div>
            </div>
        </div>

 <!-- bundle -->
 <script src="../../static/js/vendor.min.js"></script>
 <script src="../../static/js/app.min.js"></script>

 <!-- third party js -->
 <script src="../../static/js/vendor/jquery.dataTables.min.js"></script>
 <script src="../../static/js/vendor/dataTables.bootstrap5.js"></script>
 <script src="../../static/js/vendor/dataTables.responsive.min.js"></script>
 <script src="../../static/js/vendor/responsive.bootstrap5.min.js"></script>
 <script src="../../static/js/vendor/dataTables.buttons.min.js"></script>
 <script src="../../static/js/vendor/buttons.bootstrap5.min.js"></script>
 <script src="../../static/js/vendor/buttons.flash.min.js"></script>
 <script src="../../static/js/vendor/buttons.php5.min.js"></script>
 <script src="../../static/js/vendor/buttons.html5.min.js"></script>
 <script src="../../static/js/vendor/buttons.flash.min.js"></script>
 <script src="../../static/js/vendor/buttons.print.min.js"></script>
 <script src="../../static/js/vendor/dataTables.keyTable.min.js"></script>
 <script src="../../static/js/vendor/dataTables.select.min.js"></script>
 <script src="../../static/js/vendor/apexcharts.min.js"></script>
 <script src="../../static/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
 <script src="../../static/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
 <script src="../../static/js/vendor/dropzone.min.js"></script>
 <script src="../../static/js/vendor/list.min.js"></script>
 <!-- third party js ends -->

 <!-- demo app -->
 <script src="../../static/js/pages/demo.datatable-init.js"></script>
 <script src="../../static/js/pages/demo.toastr.js"></script>
 <script src="../../static/js/pages/demo.datatable-init.js"></script>
 <script src="../../static/js/pages/demo.toastr.js"></script>
 <script src="../../static/js/pages/list.js"></script>
 <!-- end demo js-->

 <!-- Datatable Init js -->
 <script src="assets/js/pages/demo.datatable-init.js"></script>


</body>

</html>
         