<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>iHealth | BITBo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../../static/images/bitbo.png">

        <!-- third party css -->
        <link href="../../static/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
        <!-- third party css end -->

        <!-- App css -->
        <link href="../../static/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../../static/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../../static/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

    </head>

    <body class="loading" data-layout="topnav" data-layout-config='{"layoutBoxed":false,"darkMode":false,"showRightSidebarOnStart": true}'>
       
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

            
                    <!-- Topbar Start -->

                    <div class="topnav" style="background-color: #1e2c50;">
                        <div class="container-fluid" >
                            <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">
        
                                <div class="collapse navbar-collapse" id="topnav-menu-content">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <!-- LOGO -->
                                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="topnav-logo-lg">
                                                    <img src="../../static/images/ihealth-logo-with-text.png" alt="" height="39">
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- end Topbar -->
                    
                
                    <!-- 2nd Topbar Start -->

                    <div class="topnav" style="background-color: #fff; height: 9px;">
                        <div class="container-fluid" >
                        
                        </div>
                    </div>
                    <!-- end Topbar -->

                
                    <!-- START HERO -->
                    <section class="hero-section">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="mt-md-4">
                                        <div>
                                            <span class="badge bg-danger rounded-pill">New</span>
                                            <span class="text-white-50 ms-1 font">A State-of-the-Art Health Management System</span>
                                        </div>
                                        <h2 class="text-white fw-normal mb-4 mt-3 hero-title">
                                            BITBo iHealth System for Komonweltizens! 
                                        </h2>

                                        <p class="mb-4 font-16 text-white-50">Welcome to BITBo - iHealth, an exclusive online platform dedicated to 
                                            providing top-quality healthcare services to the residents of Commonwealth, Quezon City.  </p>

                                        <a href="https://brgyit-bot.com/login/" target="_blank" class="btn btn-success">Click to Log in<i class="mdi mdi-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-2">
                                    <div class="text-md-end mt-3 mt-md-0">
                                        <img src="../../static/images/vip.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- END HERO -->


                    <!-- SERVICES -->
                    <section class="py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <h1 class="mt-0"><i class="mdi mdi-heart-multiple-outline"></i></h1>
                                        <h3>Let us help you take charge of your <span class="text-danger">health</span> and well-being!</h3>
                                        <p class="mt-2 font-16">Here are some of the services that Barangay Commonweatlh offers:
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 align-items-center">
                                <div class="col-lg-5">
                                    <img src="../../static/images/doctors-pana.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6 offset-lg-1">
                                    <h3 class="fw-normal">Clinic Services</h3>
                                    <p class="mt-3 font-16">By using the BITBo-iHealth Website, You can now book an appoinment in just one-click away. 
                                        This can cater different health care services such as:</p>

                                    <div class="mt-4 font-16">
                                        <p><i class="mdi mdi-circle-medium text-primary"></i> General Medical Consultation</p>
                                        <p><i class="mdi mdi-circle-medium text-primary"></i> Maternal Health Services</p>
                                        <p><i class="mdi mdi-circle-medium text-primary"></i> Free Checkup and Medicines for Seniors</p>
                                        <p><i class="mdi mdi-circle-medium text-primary"></i> Child Health Services</p>
                                    </div>

                                    <a href="https://brgyit-bot.com/login/" target="_blank" class="btn btn-primary btn-rounded mt-3">Book Here<i class="mdi mdi-arrow-right ms-1"></i></a>

                                </div>
                            </div>

                            <div class="row mt-2 align-items-center">
                                <div class="col-lg-6">
                                    <h3 class="fw-normal">Vaccination Appointments</h3>
                                    <p class="mt-3 font-16">
                                        Did you know that vaccination services are an essential part of public health in a barangay? It's because they help prevent the spread 
                                        of infectious diseases.  Below are some vaccinations that may be offered depending on availability: 
                                    </p>

                                    <div class="mt-4 font-16">
                                        <p><i class="mdi mdi-circle-medium text-success"></i> Childhood vaccinations to fight measles, chickenpox, polio, and etc.</p>
                                        <p><i class="mdi mdi-circle-medium text-success"></i> Adult vaccinations include those for the flu, tetanus, and pneumonia.</p>
                                        <p><i class="mdi mdi-circle-medium text-success"></i> Rabies Vaccine to protect against rabies through animal bites.</p>
                                        <p><i class="mdi mdi-circle-medium text-success"></i> COVID-19 Vaccine</p>
                                    </div>
                                    <a href="https://brgyit-bot.com/login/" target="_blank" class="btn btn-success btn-rounded mt-3">Book Here<i class="mdi mdi-arrow-right ms-1"></i></a>

                                </div>
                                <div class="col-lg-5 offset-lg-1">
                                    <img src="../../static/images/doctor.jpg" class="img-fluid" alt="">
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- SERVICES -->

                    
                    <!-- Start Content-->
                    <div class="container-fluid" style="background-color: rgb(237, 242, 247);">

                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <h3 class="">Frequently Asked Questions</h3>
                                    <p class="text-muted mt-3"> The following are some of the commonly asked questions regarding our system.</p>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
        
                        <div class="row pt-5">
                            <div class="col-lg-5 offset-lg-1">
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q1.</div>
                                    <h4 class="faq-question" data-wow-delay=".1s">What is BITBo-iHealth System?</h4>
                                    <p class="faq-answer mb-4">
                                        BITBo-iHealth System is a platform designed to assist in the management of health services in the Philippines 
                                        at the Barangay level, which is the smallest administrative division in the country. BITBo-iHealth is a web-based system that helps in 
                                        organizing health-related data and in monitoring health programs and services.
                                    </p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q2.</div>
                                    <h4 class="faq-question">Who is eligible to register for this system?</h4>
                                    <p class="faq-answer mb-4">
                                        The BITBo-iHealth system is exclusively designed to cater the health management needs of residents within the area of Commonwealth, 
                                        Quezon City area. This is tailor-made to assist Barangay officials and healthcare professionals in delivering top-notch 
                                        healthcare services to the community. So, if you reside within this vibrant community and require access to modern health management tools, 
                                        the BITBo-iHealth system is the perfect solution for you.
                                    </p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q3.</div>
                                    <h4 class="faq-question">What are the services offered in BITBo-iHealth System?</h4>
                                    <p class="faq-answer mb-4">As of now, the available services on the BITBo-iHealth system are clinic services and Vaccination Services. </p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q4.</div>
                                    <h4 class="faq-question" data-wow-delay=".1s">How to Register?</h4>
                                    <p class="faq-answer mb-4">
                                        In order to register, simply click on the "Register Here" button. You will then be redirected to a registration link where you can proceed to sign up.
                                    </p>
                                </div>
        
                            </div>
                            <!--/col-md-5 -->
        
                            <div class="col-lg-5">
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q5.</div>
                                    <h4 class="faq-question">Is there a verification before successfuly creating an account?</h4>
                                    <p class="faq-answer mb-4">
                                        Yes, to verify that you are a resident of Commonwealth, Quezon City, the system will ask you to go through a verification process. This process involves 
                                        providing a valid Identification Card (ID), which will be utilized by the Barangay officials to confirm your residency. Additionally, you will need to take a 
                                        selfie holding your ID card. The type of ID required may vary depending on the specifications of the Barangay.
                                    </p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q6.</div>
                                    <h4 class="faq-question">How can I schedule an appointment?</h4>
                                    <p class="faq-answer mb-4">Before you can proceed with selecting a service, ensure that you have an account. Once you have an account, you can proceed to choose 
                                        the desired service by providing the required information.
                                    </p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q7.</div>
                                    <h4 class="faq-question">Is there a fee to book a vaccination appointment?</h4>
                                    <p class="faq-answer mb-4">
                                        Certainly! Our system provides a free of charge appointment scheduling service for all users who wish to avail of various services offered by the barangay.
                                    </p>
                                </div>
        
                                <!-- Question/Answer -->
                                <div>
                                    <div class="faq-question-q-box">Q8.</div>
                                    <h4 class="faq-question"></h4>
                                    <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
        
                            </div>
                            <!--/col-md-5-->
                        </div>
                        <!-- end row -->
                    </div> <!-- content -->

                   
                    <section class="hero-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="text-center text-white">
                                        <h1 class="">Barangay Commonwealth</h>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <div class="row">  
                                
                                <div class="col-md-5 text-white"> 
                                    <img src="../../static/images/brgypic.jpg" class="img-fluid"/>
                                </div> 
                                <div class="col-md-6"><br>
                                    <h3 class="text-white">Hon. Mayor Joy Belmonte</h3>
                                    <p class="text-white" style="margin-top: 32px;">“Ang lahat ng ating nagawa at gagawin pa sa mga susunod na taon ay bunga ng hindi nagbabagong pangako natin sa isa’t isa – na lagi tayong magtutulungan para sa kabutihan ng lahat. I am proud of our accomplishments as a city, because these are the results of our collective efforts and commitment for positive change.”</p>
                                    <p><a class="btn btn-outline text-white" style="margin-top: 20px;" href="https://quezoncity.gov.ph/qcservants/mayor-joy-belmonte/">LEARN MORE ABOUT MAYOR JOY</a></p>
                                </div> 
                                
                            </div>
                        </div>	
                    </div>
                    
                </div>
            </div>
        </div>

 <!-- bundle -->
 <script src="../../static/js/vendor.min.js"></script>
 <script src="../../static/js/app.min.js"></script>

 <!-- third party js -->
 <script src="../../static/js/vendor/jquery.dataTables.min.js"></script>
 <script src="../../static/js/vendor/dataTables.bootstrap5.js"></script>
 <script src="../../static/js/vendor/dataTables.responsive.min.js"></script>
 <script src="../../static/js/vendor/responsive.bootstrap5.min.js"></script>
 <script src="../../static/js/vendor/dataTables.buttons.min.js"></script>
 <script src="../../static/js/vendor/buttons.bootstrap5.min.js"></script>
 <script src="../../static/js/vendor/buttons.flash.min.js"></script>
 <script src="../../static/js/vendor/buttons.php5.min.js"></script>
 <script src="../../static/js/vendor/buttons.html5.min.js"></script>
 <script src="../../static/js/vendor/buttons.flash.min.js"></script>
 <script src="../../static/js/vendor/buttons.print.min.js"></script>
 <script src="../../static/js/vendor/dataTables.keyTable.min.js"></script>
 <script src="../../static/js/vendor/dataTables.select.min.js"></script>
 <script src="../../static/js/vendor/apexcharts.min.js"></script>
 <script src="../../static/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
 <script src="../../static/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
 <script src="../../static/js/vendor/dropzone.min.js"></script>
 <script src="../../static/js/vendor/list.min.js"></script>
 <!-- third party js ends -->

 <!-- demo app -->
 <script src="../../static/js/pages/demo.datatable-init.js"></script>
 <script src="../../static/js/pages/demo.toastr.js"></script>
 <script src="../../static/js/pages/demo.datatable-init.js"></script>
 <script src="../../static/js/pages/demo.toastr.js"></script>
 <script src="../../static/js/pages/list.js"></script>
 <!-- end demo js-->

 <!-- Datatable Init js -->
 <script src="assets/js/pages/demo.datatable-init.js"></script>


</body>

</html>
         